.full-screen {
    background-color: #9fa8a9;
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: 'Arial Black';
    text-align: center;
  }
  
  .container {
    padding-top: 4em;
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  
  .error-num {
    font-size: 8em;
  }
  
  .italic {
    font-style: italic;
  }
  
  p {
    margin-bottom: 4em;
  }
  
  a {
    color: #173e43;
    text-decoration: none;
    text-transform: uppercase;
  }
    a:hover {
      color: lightgray;
    }